/*
    Attrocious gradient for visible notice of the slides moving temp. 
*/
#sliderton {
  /* fallback (Opera) */

  background: #0b0f16;
  /* Mozilla: */

  background: -moz-linear-gradient(top, #000000, #0b0f16);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#0b0f16));
  width: 1100px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
#sliderton #slide-container, #sliderton #slide-navigation {
  float: left;
  /*        overflow: hidden;*/

  position: relative;
}
#sliderton .wrapper {
  position: absolute;
}
#sliderton #slide-container, #sliderton .slide {
  width: 800px;
  height: 300px;
}
#sliderton #slide-navigation, #sliderton .slide-nav {
  width: 300px;
}
#sliderton #slide-container .slide {
  /* fallback (Opera) */

  background: blue;
  /* Mozilla: */

  background: -moz-linear-gradient(top, green, blue);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(green), to(blue));
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
#sliderton #slide-container .slide-1 {
  /* fallback (Opera) */

  background: red;
  /* Mozilla: */

  background: -moz-linear-gradient(top, green, red);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(green), to(red));
}
#sliderton #slide-container .slide-2 {
  /* fallback (Opera) */

  background: white;
  /* Mozilla: */

  background: -moz-linear-gradient(top, blue, white);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(blue), to(white));
}
#sliderton #slide-container .slide-4 {
  /* fallback (Opera) */

  background: purple;
  /* Mozilla: */

  background: -moz-linear-gradient(top, black, purple);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(black), to(purple));
}
#sliderton #slide-container .slide-5 {
  /* fallback (Opera) */

  background: red;
  /* Mozilla: */

  background: -moz-linear-gradient(top, white, red);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(white), to(red));
}
#sliderton #slide-navigation {
  height: 300px;
}
#sliderton #slide-navigation .wrapper {
  height: 300px;
  width: 300px;
}
#sliderton #slide-navigation .slide-nav {
  /*            .gradient(red, yellow);*/

  height: 100px;
}
#sliderton #slide-navigation .slide-nav a {
  display: block;
  height: 100px;
  width: 300px;
  /* fallback (Opera) */

  background: yellow;
  /* Mozilla: */

  background: -moz-linear-gradient(top, red, yellow);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(red), to(yellow));
}
#sliderton .next-button-c, #sliderton .next-button {
  position: absolute;
}
#sliderton .next-button {
  border-radius: 15px;
  color: #FFF;
  padding: 5px;
  text-align: center;
  width: 15px;
  height: 15px;
  top: 250px;
  right: 140px;
  /* fallback (Opera) */

  background: #1d1d16;
  /* Mozilla: */

  background: -moz-linear-gradient(top, #7b7b7f, #1d1d16);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(#7b7b7f), to(#1d1d16));
}
#sliderton .next-button-c {
  top: 225px;
  right: 125px;
}
#sliderton .next-button:hover {
  cursor: pointer;
}
#sliderton .next-button:active {
  /* fallback (Opera) */

  background: #0a0a07;
  /* Mozilla: */

  background: -moz-linear-gradient(top, #59585c, #0a0a07);
  /* Chrome, Safari:*/

  background: -webkit-gradient(linear, left top, left bottom, from(#59585c), to(#0a0a07));
  color: #DDD;
}
